# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Python cache
__pycache__/
*.pyc

# Virtualenv
venv/
env/

# Secrets
.env

# IDEs
.idea/
.vscode/

# Databases / dump
*.sqlite3
dump/

# Django static build
staticfiles/

